



<div class="container">

     <form>
       <div class="row">
        <div class="col-md-6 marg" >
            <h4> Child Information</h4>
     <div class="form-group row">
      <label for="inputFirstName" class=" col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputFirstName" placeholder="Enter First Name">
      </div>
    </div>
   <div class="form-group row">
      <label for="inputLastName" class=" col-sm-2 col-form-label"> LastName</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputLastName" placeholder="Enter LastName ">
      </div>
    </div>
      <div class="form-group row">
     <label for="inputDate of Birth" class=" col-sm-2 col-form-label">Date of Birth</label>
     <div class="col-sm-6">
        <input type="date" name="bdate" class="form-control sec" id="inputDate of Birth">
      </div>
    </div>
  
    
 
    
      
        </div>
          <div class="col-md-6 marg" >
            <h4> Parent Information</h4>
     <div class="form-group row">
      <label for="inputFatherName" class=" col-sm-2 col-form-label">Father Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="input FatherName" placeholder="Enter Father  Name">
      </div>
    </div>
   <div class="form-group row">
      <label for="inputMotherName" class=" col-sm-2 col-form-label"> Mother Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputMotherName" placeholder="Enter Mother Name">
      </div>
    </div>
      <div class="form-group row">
     <label for="inputMobileNo" class=" col-sm-2 col-form-label">Mobile</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="inputMobileNo">
      </div>
    </div>
     <div class="form-group row">
     <label for="inputEmailid" class=" col-sm-2 col-form-label">Emailid</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="inputEmailid" placeholder="Enter Emailid">
      </div>
    </div>
  </div>





  
  
    <div class="col-md-6 marg" >
            <h4> Guardian Information</h4>
     <div class="form-group row">
      <label for="inputFirstName" class=" col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="input First Name" placeholder="Enter First Name">
      </div>
    </div>
   <div class="form-group row">
      <label for="inputLastName" class=" col-sm-2 col-form-label"> LastName</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputLastName" placeholder="Enter Last Name">
      </div>
    </div>
      <div class="form-group row">
     <label for="input Relation" class=" col-sm-2 col-form-label">Relation</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="input Relation">
      </div>
    </div>
      <div class="form-group row">
     <label for="input Mobile" class=" col-sm-2 col-form-label">Mobile</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="input Mobile">
      </div>
    </div>
      <div class="form-group row">
     <label for="input Emailid" class=" col-sm-2 col-form-label">Emailid</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="input Emailid">
      </div>
    </div>
    
  </div>
          <div class="col-md-6 marg" >
            <h4> Contact Information</h4>
     <div class="form-group row">
      <label for="inputAddress" class=" col-sm-2 col-form-label">Address</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputAddress" placeholder="Enter Address">
      </div>
    </div>
   <div class="form-group row">
      <label for="input Country" class=" col-sm-2 col-form-label">Country</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputCountry" placeholder="Enter Country">
      </div>
    </div>
    
      <div class="form-group row">
     <label for="inputState" class=" col-sm-2 col-form-label">State</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="inputState">
      </div>
    </div>
    
    <div class="form-group row">
     <label for="inputCity" class=" col-sm-2 col-form-label">City</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="inputCity">
      </div>
    </div>
    <div class="form-group row">
     <label for="inputPostalCode" class=" col-sm-2 col-form-label">PostalCode</label>
     <div class="col-sm-6">
        <input type="text" name="bdate" class="form-control sec" id="inputPostalCode" placeholder="Enter PostalCode">
      </div>
    </div>
    <div class="form-group row">
      <label for="input Country" class=" col-sm-2 col-form-label">Image</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputCountry" >
      </div>
    </div>
  
    
 
    
    
        </div>

            <div class="col-md-6 marg" >
            <h4> Enrollment Details</h4>
     <div class="form-group row">
      <label for="inputclass" class=" col-sm-2 col-form-label">class</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputclass" placeholder="Enter class">
      </div>
    </div>
   <div class="form-group row">
      <label for="inputRoom" class=" col-sm-2 col-form-label">Room</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputRoom" placeholder="Enter RoomNo">
      </div>
    </div>
      <div class="form-group row">
     <label for="inputStartDate" class=" col-sm-2 col-form-label">StartDate</label>
     <div class="col-sm-6">
        <input type="date" name="bdate" class="form-control sec" id="inputStartDate">
      </div>
    </div>
       <div class="form-group row">
     <label for="inputEndDate" class=" col-sm-2 col-form-label">EndDate</label>
     <div class="col-sm-6">
        <input type="date" name="bdate" class="form-control sec" id="inputEndDate">
      </div>
      </div>
    </div>
  
    
 
    
    
      
        <div class="col-md-6 marg" >
            <h4> Additional Information</h4>
            <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label"></label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block"></span>
      </div>
      </div>

 
     <div> <button type="submit" class="btn btn-default btn1">Submit</button>
     <button type="submit" class="btn btn-default btn1">Reset</button>
 <button type="cancel" class="btn btn-default">Cancel</button></div>
            </div>

        

  
 

 </div>
    </form>
  </div>